{% extends 'base.html' %}

{% block content %}
<div class="container">


  <div><a class="nav-link home-text" href="{% url 'menu' %}"> < Back to Menu</a></div>
    {% if object %}
    <div class="home-main-text">Edit Menu<span class="">{{object.name}}</span></div>
    {% else %}
    <div class="home-main-text">Add Menu</div>
    {% endif %}

  <form action="" method="POST" class="mt-4" enctype="multipart/form-data">
    
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {% for field in form %}
          <div class="col-md-3 custom-label mb-2">{{ field.label_tag }}</div>
          <div class="custom-td">{{ field }}</div>
        {% endfor %}

        {% if object %}
            <input type="submit" value="Update Menu" class="btn button-custom">
            
        {% endif %}

        {% if not menu.id %}
          
          <div class="col-md-6">
            <input class="mb-3" type="file" name="photo-file">
            <input type="submit" value="Create Menu" class="btn button-custom">
          </div>          
        {% endif %}
      </div>
  </form>

    <div class="col-md-6">
      {% if menu.id %}
        <div class="custom-label">Image</div>
        {% for photo in photos %}
            <div class="col-md-6"><img class="img-fluid menu-upload-img rounded mb-3" src="{{ photo.url }}" alt="Uploaded Photo"></div>
        {% empty %}
            <div class="card-panel teal-text center-align mt-4">No Photos Uploaded. Please upload one</div>
        {% endfor %}
  
        <div class="mt-1 custom-label">Upload new Photo</div>
        <form action="{% url 'add_photo' menu.id %}" enctype="multipart/form-data" method="POST" class="mt-3">
            {% csrf_token %}
            <div class="mb-3 col-md-6">
                <input type="file" name="photo-file" class="form-control">
            </div>
            <button type="submit" class="btn button-custom">Upload Photo</button>
        </form>


      {% endif %}
    </div> 
    
</div>



{% endblock %}