{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="home-main-text custom-home-main-title">Log In</div>
  
  <form action="{% url 'login' %}" method="POST" class="mt-4" enctype="multipart/form-data">
    
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {% for field in form %}
          <div class="col custom-label mb-2">{{ field.label_tag }}</div>
          <div class="custom-td">{{ field }}</div>
        {% endfor %}
          <div class="col mt-2">
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Log In" class="btn button-custom">
          </div>          
      </div>
  </form>
</div>


{% endblock %}