{% extends 'base.html' %}
{% block content %}



<div class="container">
  <div class="home-main-text custom-home-main-title">Sign Up</div>
  
  <form action="{% url 'signup' %}" method="POST" class="mt-4" enctype="multipart/form-data">
    
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {% for field in form %}
          <div class="col custom-label mb-2">{{ field.label_tag }}</div>
          <div class="custom-td mb-2">{{ field }}</div>
        {% endfor %}

        <p style="color: red;">{{ error_message }}</p>
          <div class="col mt-2">
            <input type="submit" value="Sign Up" class="btn button-custom">
          </div>          
      </div>
  </form>
</div>

{% endblock %}