{% extends 'base.html' %}
{% block content %}

<div class="row mb-3 gallery-background">
    <div class="col home-text-div about-contact-inner-idv">
        <div class="home-main-text">A Collection of Memory</div>
        <div class="home-text">A Photo Journey of Sparrow's Mill Express, Where Every Plate Tells a Story of Passion</div>
    </div>
</div>

<div class="container">
    <div class="row mb-3 gallery-div">
        <div class="col-4"><img src="../static/image/gallery/1.jpg" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-4"><img src="../static/image/gallery/2.jpg" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-4"><img src="../static/image/gallery/3.jpg" class="d-block img-fluid" alt="gallery food image"></div>
    </div>
    <div class="row mb-3 gallery-div">
        <div class="col-3"><img src="../static/image/gallery/4.jpg" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-6"><img src="../static/image/gallery/5.png" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-3"><img src="../static/image/gallery/6.jpg" class="d-block img-fluid" alt="gallery food image"></div>
    </div>
    <div class="row mb-3 gallery-div">
        <div class="col-4"><img src="../static/image/gallery/7.jpg" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-4"><img src="../static/image/gallery/8.jpg" class="d-block img-fluid" alt="gallery food image"></div>
        <div class="col-4"><img src="../static/image/gallery/9.jpg" class="d-block img-fluid" alt="gallery food image"></div>
    </div>
</div>

{% endblock %}